img {
  transform: rotate(45deg);
  transition: transform 502ms;
}

img:hover {
  transform: scale(1.5) translate(90px);
}

@media (max-width: 500px) {
  body {
    margin: 100px;
    background-color: green;
  }
}
